.today,
.today:hover {
  background: #64cf62 !important;
  color: white;
  border-radius: 50%;
}

.Event,
.Event:hover {
  background: #37b4fb !important;
  color: white;
  border-radius: 50%;
}

.Reminder,
.Reminder:hover {
  background: #ff4f4f !important;
  color: white;
  border-radius: 50%;
}

.Birthday,
.Birthday:hover {
  background: #9e81f0 !important;
  color: white;
  border-radius: 50%;
}

.Period,
.Period:hover {
  background: #fb87e1 !important;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile:disabled {
  background: none;
}
.react-calendar__navigation button[disabled] {
  background: none;
}

.react-calendar__navigation {
  margin-bottom: 0;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: none !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
}

.react-calendar {
  width: auto !important;
  height: 350px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  padding: 20px;
}

.react-calendar__navigation__arrow {
  display: none;
}

.react-calendar__navigation__label {
  font-size: 20px;
  border-radius: 30px;
  color: black;
}

.react-calendar__tile {
  height: 40px;
  width: 40px;
  color: black;
  border-radius: 50%;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 10px;
  color: #3f3b3b;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  font-size: 14px;
}
.react-calendar__tile--now,
.react-calendar__tile--active,
.react-calendar__tile--hasActive {
  background: none;
  color: black;
}
